html,
body {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;

  /* display: flex;
  justify-content: center;
  align-items: center; */
  background: black;
  /* background: #eee; */
  font-family: monospace;
}

.game-wrapper {
  margin: auto;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

canvas {
  flex: 1 1 auto;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  background: black;
  max-width: 100% !important;
  max-height: 100% !important;
}

.actions {
  position: fixed;
  bottom: 0;
  display: flex;
}
.actions button {
  margin: 10px;
  padding: 10px 20px;
  color: greenyellow;
  border: solid 1px greenyellow;
}
.actions button:hover {
  margin: 10px;
  padding: 10px 20px;
  color: greenyellow;
  border: solid 1px greenyellow;
}

.disable-selection {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  -webkit-tap-highlight-color: transparent;
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

.virtual-gamepad {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
}

.virtual-gamepad.active {
  display: block;
}

.virtual-joystick {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.nipple {
  -webkit-tap-highlight-color: transparent;
}

.nipple .front {
  -webkit-tap-highlight-color: transparent;
}

.nipple .back {
  -webkit-tap-highlight-color: transparent;
}
